{#

Description text for the Registration module.

#}


{% set content_type_path = path('entity.node_type.collection') %}
{% set add_types = path ('node.type_add') %}

{% trans %}


<p>This is an example of descriptional text</p>



{% endtrans %}
